container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python MaidenThoughts/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MaidenThoughts.settings"
    PYTHONPATH: "/opt/python/current/app/MaidenThoughts:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "MaidenThoughts/MaidenThoughts/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"