 
 {% load staticfiles %}
  <div id="navigation">
    <ul>
      <li><a href="{% url 'index'%}">Home</a></li>
      <li><a href="{% url 'skin_care'%}">Skin Care</a></li>
      <li><a href="{% url 'hair_care'%}">Hair Care</a></li>
      <li><a href="{% url 'health_care'%}">Health</a></li>
      <li><a href="{% url 'lifestyle_care'%}">Lifestyle</a></li>
      <li><a href="{% url 'product_reviews'%}">Reviews</a></li>
      <li><a href="{% url 'accessories'%}">Accessories</a></li>
    </ul>
  </div>
  